/* .container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/assets/images/tshirt.png");
  background-color: black;
  height: 360px;
  width: 360px;
  position: relative;
  background-repeat: no-repeat;
} */

/* .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../public/assets/images/tshirt.png");
  background-color: black;
  background-repeat: no-repeat; 
  height: 360px;
  width: 360px;
  position: relative;
  background-size: cover; 
} */

.container {
  /* align-items: center; */
  background-color: black;
  width: 100vw; /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center; /* Horizontally center the content */
  position: relative;
}

.container1 {
  background-image: url("../public/assets/images/tshirt.png");
  background-repeat: no-repeat;
  /* display: flex; */
  justify-content: center; /* Horizontally center the canvas inside container1 */
  /* align-items: flex-start; */
  /* height: 100%;  */
  height: 430px;
  width: 430px;
  margin-top: 20px;
  background-size: 110%;
  /* background-color: red; */
}